
.search-panel {
    position: absolute;
    top: 100%;
    left: 15px; right: 15px;
    background-color: #fff;
    border: solid 1px #ccc;
    min-height: 330px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-shadow: 0 1px 3px rgba(0,0,0,.1);
}
