

.search-input {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 0;
    padding: 10px 0;
}

/*.search-input.active {
    background-color: #6188B3;
}*/

.search-input .__bg {
    position: absolute;
    top: 0; left: 0;
    right: 0; bottom: 0;
    background-color: #6188B3;
    opacity: 0;
    transition: opacity 0.3s ease-out 0s;
}

.search-input .__bg.active {
    opacity: 1;
}

.search-input .__tags {
    position: absolute;
    left: 10px;
    min-height: 30px;
}

.search-input .__input {
    position: absolute;
    right: 0;
    margin: 0;
    width: 150px;
    transition: right 0.2s ease-out 0s, 
                width 0.2s ease-out 0s;
}

.search-input .__input.active {
    right: 10px;
    width: 200px;
}

.search-input input {
    background-color: #375e88;
    box-shadow: none;
    font-size: 14px;
    border: 0;
    color: #c3d6ed;
}

.search-input input:focus  {
    outline: none; 
    box-shadow: none;
}


