
.search-panel {
    position: absolute;
    top: 100%;
    left: 0; right: 0;
    background-color: #fff;
    
    border: 1px solid #ccc;
    border-radius: 3px;
    box-shadow: 0 1px 3px rgba(0,0,0,.1);
    text-align: left;
    padding: 7px 5px;
}

.search-panel h3 {
    display: inline-block;
    width: 15px;
    text-align: center;
    font-size: 13px;
    color: #7c7f82;
    font-weight: 600;
}

.search-panel .tag._selected .btn {
    background-color: #4B75A5;
    color: #D8E1EA;
}

.search-panel .progress {
    width: 60%;
    margin: 5px auto;
}