

.tag {
        margin: 0px 3px 3px 0px;
}

.tag .btn {
    background-color: #375e88;
    border: none;
    color: #c3d6ed;
}

.tag .btn:focus {
    outline: none;
}

.tag__text {
    padding: 5px 9px 2px 9px;
}

.tag__close {
    padding: 5px 4px 2px 4px;
    border-left: 1px solid #33517B !important;
}
